/* Add External font style */
@font-face {
    font-family: "Norse-Bold"; /*Name of the custom style*/
    src: url("Norse-Bold.otf") format("opentype"); /*Link to the source*/
}

/* General CSS */
body {
    display: flex;
    height: 100vh;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* Setting for var */
:root {
    --grey: rgb(215, 215, 215);
  }

/* Left side of the page */
.nav-section {
    background-image: url('leaves_bg.jpg'); /*Link the bgk as the image*/
    background-size: cover;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.logo {
    margin-top:150px;
    background: rgba(74, 75, 74, 0.7);
    text-align: center;
    padding: 15px 0px;
    font-family: "Norse-Bold";

}

.logo .picture {
    height: 1em;
    width: 0.8em;
    vertical-align: bottom;
}

.logo .text {
    font-size: 75px;
    font-stretch: condensed;
    color: white;

}

.caption {
    text-align: center;
    color: var(--grey);
    margin-bottom: 10px;
    font-size: 13px;
}

.caption a {
    color: var(--grey);
}


/* Right side of the page */
.content-section {
    flex: 3;
    background-color: rgb(239, 239, 239);
    display: flex;
    flex-direction: column;
    align-content: space-between;
    text-align: center;
}

.content-top{
    flex: 1;
    
}

.content-form{
    flex: 1;
    background-color: white;
    box-shadow: 10px 10px 5px lightgrey;
}

.content-bottom{
    flex: 1;
}